<header>
    <div class="navbar">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;
                
            </i>
            <strong style="font-size: 30px;">Flipkart</strong>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search products">
            </div>
            <span class="fas fa-search search-icon"></span>


        </div>
        
        <div class="but">
            <button class="btn btn-warning" routerLink="products">Home</button>
            <button class="btn btn-warning" routerLink="login">Login</button>
            <button class="btn btn-warning" routerLink="about">About</button>
            <button class="btn btn-warning" routerLink="contact">Contact Us</button>
            <button class="btn btn-warning" routerLink="signup">Register</button>
            
        </div>
        <button routerLink="cart" class="btn btn-Primary">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>

    </div>
</header>

