.foo {
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg, rgb(154, 194, 128) 0%, rgb(208, 211, 10) 100%);
}

.form-control {
    border-radius: 3px;
    width: 600px;
    margin-left: 20px;
}

.search-icon {
    position: absolute;
    z-index: 10;
    right: 47%;
    top: 20px;
    color: blue;
}
.navbar{
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg, rgb(154, 194, 128) 0%, rgb(208, 211, 10) 100%);
}
.cart{
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg, rgb(154, 194, 128) 0%, rgb(208, 211, 10) 100%);
}
.but{
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg, rgb(154, 194, 128) 0%, rgb(208, 211, 10) 100%);
}


// footer CSS here

