<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card"> 
                <div class="text-center">
                    <h1>SignUp</h1>
                </div>
                    <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email address</label>
                          <input  type="text" formControlName="email" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email">
                          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                          <!-- <span class="text-danger" *ngIf="signupForm.controls['username'].dirty && signupForm.hasError('required','username')">*Email address is required</span> -->
                          <!-- <span class="text-danger" *ngIf="signupForm.hasError('email','username')">*Email is Invalid</span> -->
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Full Name</label>
                                <input type="text" formControlName="fullname" class="form-control"  placeholder="Full Name">
                                <!-- <span class="text-danger" *ngIf="signupForm.controls['fullname'].dirty && signupForm.hasError('required','fullname')">*Full name is required</span> -->

                            </div>
                            <!-- <label for="exampleInputPassword1">Mobile number</label> -->
                            <!-- <input  type="number" formControlName="mobile" class="form-control"  placeholder="Mobile number"> -->
                            <!-- <span class="text-danger" *ngIf="signupForm.controls['mobile'].dirty && signupForm.hasError('required','mobile')">*Mobile number is required</span> -->

                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input  type="password" formControlName="password" class="form-control"  placeholder="Password">
                            <!-- <span class="text-danger" *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')">*Password is required</span> -->

                          </div>
                        <button type="submit" [disabled]="!signupForm.valid" class="btn btn-primary mt-3">Sign UP</button>
                      </form>
            
                <a routerLink="/login" style="float: right;color:#fff"> Already Registered? login </a>
            </div>
        </div>
    </div>
</div>